// base.scss
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: #444;
  //background: lighten(dodgerblue, 20%);
  background: dodgerblue;
}

h2 {
  //background: linear-gradient(to right, dodgerblue, dodgerblue 50%);
  background: #5f27cd;
  padding: 0 30rem;

}

a {
  text-decoration: none;
}

input,
select {
  padding: .7rem;
  font-size: 1.5rem;
}

// layouts.scss
.section-added {
  //display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-shadow: 0 .2rem #8b60e1 ;
  font-size: 7rem;
}

.section-forms {
  display: flex;
  align-items: center;
  background: rgba(dodgerblue, .7);
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// components.scss
.folder {
  flex: 0 0 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;

  @media screen and (max-width: 1090px) {
    flex: 0 0 25%;
  }

  @media screen and (max-width: 881px) {
    flex: 0 0 33.333%;
  }

  &__remove-icon {
    position: absolute;
    top: 3rem;
    right: 4rem;
    width: 1rem;

    &:hover {
      background-color: red;
      cursor: pointer;
    }
  }

  &__title {
    color: white;
  }

  &__img-and-bookmarks {
    &:hover ul {
      display: block;
    }
  }

  &__img {
    width: 8rem;
    cursor: pointer;
  }
}

.form {
  background-color: whitesmoke;
  width: 35rem;
  border-radius: 1rem;
  padding: 4rem 3rem;
  display: flex;
  flex-flow: column;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 50%);

  &--add-url {
    margin-right: 3rem;
    @media screen and (max-width: 793px) {
      margin:0;
      margin-bottom: 2rem;
    }
  }
}

.form-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 1.4rem;
}

.error-field {
  visibility: hidden;
  color: red;
  font-size: 1.6rem;
  padding-top: .4rem;
}

.bookmarks {
  //background-color: #10ac84;
  display: none;
  background-color: #5f27cd;
  list-style: none;
  position: absolute;
  top: 10.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .4rem;
  z-index: 10;

  &__item {
    position: relative;
    padding: 1rem;
  }

  &__link {
    display: block;
    padding: 1rem;
    color: whitesmoke;
    border-radius: .4rem;

    &:hover {
      //background-color: #1dd1a1;
      background-color: lighten(#5f27cd, 15%);
    }
  }

  &__remove-icon {
    position: absolute;
    top: .4rem;
    right: .4rem;
    width: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #ee5253;
    }
  }
}

// buttons.scss
.cta {
  cursor: pointer;
  color: white;
  border: none;

  &--blue {
    background-color: dodgerblue;
  }

  &--orange {
    background-color: orangered;
  }

  &--add-bookmark {
    display: block;
    margin: 4rem auto;
    background-color: #5f27cd;
    padding: 2rem 4rem;
    border-radius: 100px;
    font-weight: 900;
    outline: none;
  }
}

.close-forms {
  background: white;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  width: 3rem;
  border-radius: 2.4rem;
  cursor: pointer;
  padding: .4rem;

  &:hover {
    background-color: #ee5253;
  }
}

// utilities.scss
.m-right-s {
  margin-right: 2rem;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-flow: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.section-folders-wrapper {
  @media screen and (max-width: 1090px) {
    max-width: 693px;
  }
  @media screen and (max-width: 881px) {
    max-width: 445px;
  }
  @media screen and (max-width: 662px) {

  }
}

.section-forms-wrapper {
  //background: rgba(255,255,255,0.9);
  //background: lightslategrey;
  //background: #10ac84;
  background-color: #5f27cd;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  @media screen and (max-width: 807px) {
    display: block;
  }
}

.d-none {
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #5f27cd;

  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}






